@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #fff;
}

i {
  color: #fff;
  cursor: pointer;
}

img {
  object-fit: cover;
  object-position: top;
  border-radius: 0.8rem;
}

body {
  height: 100vh;
  background: linear-gradient(#050505, #18181d);
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  background: linear-gradient(#050505, #18181d);
}

.container .sidebar {
  height: 100vh;
  background-color: #18181d;
  padding: 2rem 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  transition: all 0.6s ease;
}

.container .sidebar .logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.container .sidebar .logo > i {
  font-size: 2.4rem;
  transition: all 0.3s ease;
}

.container .sidebar .logo a {
  font-weight: bold;
  transition: all 0.3 ease;
}

.container .sidebar .logo:hover a,
.container .sidebar .logo:hover i,
.container .sidebar .menu ul li:hover a,
.container .sidebar .menu ul li:hover i,
.container main header .nav-links a:hover {
  color: #5773ff;
}

.container .sidebar .menu h5 {
  color: #919191;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

.container .sidebar .menu ul {
  list-style: none;
}

.container .sidebar .menu ul li {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.container .sidebar .menu ul li a {
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.container .sidebar .playing .top {
  background-color: #32323d;
  border-radius: 0.6rem 0.6rem 0 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.container .sidebar .playing .top img {
  width: 3.6rem;
  height: 3.6rem;
}

.container .sidebar .playing .bottom {
  background-color: #25252d;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.2rem;
}

.container .sidebar .playing .bottom i {
  color: #919191;
}

.container main {
  padding: 2rem 3.6rem;
}

.container main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container main header .nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container main header .nav-links a {
  text-transform: uppercase;
  color: #919191;
  transition: all 0.3 ease;
}

.container main header .search {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 70%;
  background-color: #1d1d1d;
  border: 1px solid #464748;
  padding: 1rem;
  border-radius: 0.8rem;
}

.container main header .search input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.container main .trending {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.container main .trending .left .info {
  margin-top: 1.2rem;
  padding: 2.6rem;
}

.container main .trending .left .info h2 {
  font-size: 5.6rem;
  margin-bottom: 0.8rem;
}

.container main .trending .left .info h4,
.container main .trending .left .info h5 {
  display: inline;
}

.container main .trending .left .info h5 {
  margin-left: 1.2rem;
  color: #919191;
}

.container main .trending .left .info .buttons {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.container main .trending .left .info .buttons button {
  padding: 1.2rem 1.6rem;
  background-color: #5773ff;
  border: none;
  border-radius: 1.4rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.container main .trending .left .info .buttons i {
  color: #5773ff;
  font-size: 2rem;
  border: 0.2rem solid #fff;
  padding: 1rem;
  border-radius: 50%;
}

.container main .trending img {
  width: 30rem;
  height: 20rem;
}

.container main .playlist {
  margin-top: 1.4rem;
  display: flex;
  gap: 2rem;
}

.container main .playlist .genres {
  color: #fff;
  background-color: #202026;
  padding: 2rem;
  border-radius: 0.6rem;
  width: 40%;
}

.container main .playlist .genres .header,
.container main .playlist .music-list .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.container main .playlist .genres .header a,
.container main .playlist .music-list .header a {
  color: #919191;
  font-size: 1.2rem;
}

.container main .playlist .genres .items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.container main .playlist .genres .items .item {
  padding: 2.2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  cursor: pointer;
}

.container main .playlist .genres .items .item p {
  font-size: 1.4rem;
  font-weight: bold;
}

.container main .playlist .genres .items .item:nth-child(1) {
  background-color: #47618a;
}

.container main .playlist .genres .items .item:nth-child(2) {
  background-color: #a69984;
}

.container main .playlist .genres .items .item:nth-child(3) {
  background-color: #a24c3f;
}

.container main .playlist .genres .items .item:nth-child(4) {
  background-color: #0d4045;
}

.container main .playlist .genres .items .item:nth-child(5) {
  background-color: #a67894;
}

.container main .playlist .genres .items .item:nth-child(6) {
  background-color: #5547a5;
}

.container main .playlist .music-list .items .item .info img {
  width: 5rem;
}
